<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.cognitivelocator.app">
	<uses-sdk android:minSdkVersion="15" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
  <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<application android:label="CognitiveLocator">
    <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCByLp8QsI4kxlUIDDpLp5aObjI4j0DKcg" />
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="com.cognitivelocator.app.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths">
			</meta-data>
		</provider>
	</application>
</manifest>